<% layout( 'layout' ) -%>

<h1 id="page-title">Hello, new user!</h1>

<div id="list">
  <form action="/signup" method="post" accept-charset="utf-8">
    <div class="item-new">
        <h3>What's your</h3>
        <br>
      <br>
      <input class="input" type="text" name="user_name" required/>
      <br>
      <br>
      <button type="submit" style="margin-left: 70px;">Create List</button>
    </div>
  </form>
</div>